div.a1:hover{background-color: navajowhite;width: 100%; height: min-content; margin: 0px}
div.a2:hover{background-color: #a57122;width: 100%; height: min-content; margin: 0px}
div.a3:hover{background-color: rgb(255, 173, 251);width: 100%; height: min-content; margin: 0px}
div.a4:hover{background-color: rgb(255, 182, 173);width: 100%; height: min-content; margin: 0px}
div.t3{width: 100px; border:8px solid lightskyblue}        
hr.hr1{line-height: 0px ;width: 100%; border:4px solid lightskyblue;margin: 0px}
.task1
{
    text-align: right;
}
span.task1-green
{
    color:yellowgreen; font-style: oblique;
}
h1,h2
{
    color:red;
}
span.task1-black
{
    font-size: 150%;font-weight:900;
}
ol { list-style-type: none;}
.task3
{
text-decoration: underline;
color: lightskyblue;
}
.task33
{
margin-left: 10px;
}
.navbar{
    background:#aa00f9f5;
   }
   .nav-link{
    color: #ffffff;
    cursor: pointer;
   }
   .navbar-brand{
    color: #ffffff;
    margin-left: 5px;
    cursor: pointer;
   }
   .nav-link{
    margin: 1em !important;
   }
   .nav-link:hover{
    background: rgb(255, 213, 162);
    color: #aa00f9f5;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:rgb(27, 209, 185) !important;
   }
   .main {
       
    display: flex;
    width: 90%;
    height: 500px;
    font-size: 1rem;
    margin: 0 5% 0 5%;}
    .main div {
    font-size: 0,5vw;
    color: white;}

    .main-left {
        
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    min-width:min-content;
    height: 81%;
    flex-wrap: wrap;

    flex-grow: 1;}
    
    .main-right {
        display: flex;
        width: 75%;
        height: 100%;     
        flex-wrap: wrap;   
        flex-direction:row;
        justify-content:stretch;}
        

    .inline{
        background-color: rgb(161, 214, 161);
        
        width: min-content;
        height: min-content;
        margin: 20px 0 0 5%;
        }
